<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="img/clipboards.png" rel="icon" type="image/png">
    <title>Scouter Academy</title>
    <link href="css/register.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">
            <img src="img/clipboards.png" alt="logo">
            <h1>Scouter Academy</h1>
        </div>
        <nav class="menu">
            <ul class="menu-botao">
                <li><a href="#"></a>Sou Jogador</li>
                <li><a href="#"></a>Sou um Clube</li>
            </ul>
        </nav>
    </header>


    <main>
        <div class="container">
            <form>
                <h2 class="titulo">Registro de Atleta</h2>

                <div class="label-float">
                    <input type="text" name="nome" id="nome">
                    <label>Nome Completo</label>
                </div>
                <div class="label-float">
                    <input type="text" name="apelido" id="apelido">
                    <label>Apelido</label>
                </div>
                <div class="label-float">
                    <input type="date" name="data-nascimento" id="data-nascimento">
                    <label>Data de nascimento</label>
                </div>
                <div class="label-float">
                    <input type="text" name="posicao" id="posicao">
                    <label>Posição</label>
                </div>
                <div class="label-float">
                    <input type="text" name="altura" id="altura">
                    <label>Altura</label>
                </div>
                <div class="label-float">
                    <input type="text" name="peso" id="peso">
                    <label>Peso</label>
                </div>
                <div class="label-float">
                    <input type="text" name="times" id="times">
                    <label>Times que ja passou</label>
                </div>
                <div class="label-float">
                    <input type="image" name="Foto" id="foto">
                    <label>Foto do Atleta</label>
                </div>

                <div class="botao">
                    <button type="submit">Registrar</button>
                </div>
            </form>
        </div>
    </main>
</body>